{% extends 'inventario/base.html' %}

{% block content %}

<h2>Registrar Venta</h2>

<form method="POST" class="card p-4 mb-4">
    {% csrf_token %}
    {{ form.as_p }}

    <button class="btn btn-success">
        Registrar Venta
    </button>
</form>

<h3>Ventas realizadas</h3>

<table class="table">

    <thead>
        <tr>
            <th>Producto</th>
            <th>Cantidad</th>
            <th>Total</th>
            <th>Fecha</th>
        </tr>
    </thead>

    <tbody>

        {% for venta in ventas %}

        <tr>
            <td>{{ venta.producto }}</td>
            <td>{{ venta.cantidad }}</td>
            <td>${{ venta.total }}</td>
            <td>{{ venta.fecha }}</td>
        </tr>

        {% endfor %}

    </tbody>

</table>

{% endblock %}
